<h1 mat-dialog-title>Welcome to our Support Center</h1>
  <form  class= "add-ticket">
    <div mat-dialog-content>
      <mat-form-field>       
        <input placeholder="TicketId" matInput [(ngModel)]="tickets.support_ticket_id" name="Ticket Id">
      </mat-form-field>      
      <mat-form-field> 
        <input placeholder="TicketOwner" matInput [(ngModel)]="tickets.userId" name="Ticket Owner">
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Subject" matInput [(ngModel)]="tickets.ticket_subject" name="Ticket Subject">
      </mat-form-field>
      <mat-form-field>
        <textarea placeholder="Message" matInput [(ngModel)]="tickets.ticket_description " name="Ticket Message"></textarea>
      </mat-form-field>
    </div>
  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>